.app-wrapper {
  max-width: 1024px;
  margin: auto;
  text-align: center;
  background-color: #f2f2f2;
  padding: 30px;
}

.app-header {
  font-family: 'Lobster';
  font-size: 40px;
}

.app-paragraph {
  width: 600px;
  margin: auto;
  margin-bottom: 30px;
  background-color: #4d4d4d;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-button {
  width: 15px;
  height: 15px;
  padding: 0px;
}

.app-input {
  max-width: 18px;
  padding-left: 10px;
  margin: 3px;
  color: black;
}

.app-img {
  width: 250px;
  height: 350px;
  border: 2px solid;
}

.app-img-wrapper {
  position: relative;
}

.app-img-star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.app-counter {
  position: absolute;
  bottom: -20px;
  right: -10px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
